function Position.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push pointer 0
    return
function Position.VectorChangePosition 0
    push argument 0
    pop pointer 0
    push this 0
    push argument 1
    add
    pop this 0
    push this 1
    push argument 2
    add
    pop this 1
    push constant 0
    return
function Position.GetY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Position.GetX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Position.Equal 0
    push argument 0
    pop pointer 0
    push argument 1
    call Position.GetX 1
    push this 0
    eq
    push argument 1
    call Position.GetY 1
    and
    push this 1
    eq
    not
    if-goto Position_1
    push constant 1
    neg
    return
    goto Position_0
label Position_1
label Position_0
    push constant 0
    return
function Position.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Position.IsUnder 0
    push argument 0
    pop pointer 0
    push argument 1
    call Position.GetY 1
    push this 1
    lt
    not
    if-goto Position_3
    push constant 1
    neg
    return
    goto Position_2
label Position_3
label Position_2
    push constant 0
    return
function Position.GetLocation 1
    push argument 0
    pop pointer 0
    push this 0
    push constant 16
    call Math.divide 2
    push this 1
    push constant 32
    call Math.multiply 2
    add
    pop local 0
    push local 0
    return