function Game.new 0
    push constant 8
    call Memory.alloc 1
    pop pointer 0
    push constant 1000
    pop this 4
    push constant 1
    call Score.new 1
    pop this 0
    push constant 0
    pop this 3
    push constant 100
    pop this 5
    push constant 10
    pop this 6
    push constant 256
    push constant 128
    call Possition.new 2
    pop this 7
    push this 7
    call Car.new 1
    pop this 1
    push this 6
    call Array.new 1
    pop this 2
    push pointer 0
    return
function Game.StartGame 1
    push argument 0
    pop pointer 0
    call Keyboard.keyPressed 0
    pop local 0
    call Layout.PrintSplashScreen 0
    pop temp 0
label Game_0
    push local 0
    push constant 0
    eq
    not
    if-goto Game_1
    call Keyboard.keyPressed 0
    pop local 0
    goto Game_0
label Game_1
    call Layout.HideSplashScreen 0
    pop temp 0
    call Layout.PrintField 0
    pop temp 0
    push constant 0
    return
function Game.CheckAlive 4
    push argument 0
    pop pointer 0
    push constant 1
    neg
    pop local 0
    push constant 0
    pop local 1
label Game_2
    push local 1
    push this 6
    lt
    not
    if-goto Game_3
    push this 1
    call Car.GetCurrentPossition 1
    pop local 2
    push local 1
    push this 2
    add
    pop pointer 1
    push that 0
    pop local 3
    push local 2
    push local 3
    call Obstacle.GetCurrentPossition 1
    call Possition.Equal 2
    not
    if-goto Game_5
    push constant 0
    return
    goto Game_4
label Game_5
label Game_4
    push local 1
    push constant 1
    add
    pop local 1
    goto Game_2
label Game_3
    push constant 1
    neg
    return
function Game.MoveObstacls 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Game_6
    push local 0
    push this 6
    lt
    not
    if-goto Game_7
    push local 0
    push this 2
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    call Obstacle.ChangePossitionForTickTime 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Game_6
label Game_7
    push constant 0
    return
function Game.Play 1
    push argument 0
    pop pointer 0
    push constant 1
    neg
    pop local 0
label Game_8
    push local 0
    push constant 1
    neg
    eq
    not
    if-goto Game_9
    push this 4
    call Sys.wait 1
    pop temp 0
    push this 1
    push this 2
    push this 0
    push this 6
    call Layout.PrintCurrentState 4
    pop temp 0
    push this 0
    call Score.AddScoreForTickTime 1
    pop temp 0
    push this 4
    push this 5
    gt
    not
    if-goto Game_11
    push this 4
    push constant 50
    sub
    pop this 4
    goto Game_10
label Game_11
label Game_10
    push this 1
    call Car.ManagedDirection 1
    pop temp 0
    push pointer 0
    call Game.CheckAlive 1
    pop local 0
    goto Game_8
label Game_9
    push this 0
    call Layout.PrintLoseScreen 1
    pop temp 0
    push constant 0
    return
function Game.Restart 1
    push argument 0
    pop pointer 0
    call Keyboard.keyPressed 0
    pop local 0
label Game_12
    push local 0
    push constant 0
    eq
    not
    if-goto Game_13
    push local 0
    push constant 140
    eq
    not
    if-goto Game_15
    call Sys.halt 0
    pop temp 0
    goto Game_14
label Game_15
label Game_14
    push local 0
    push constant 128
    eq
    not
    if-goto Game_17
    push constant 0
    return
    goto Game_16
label Game_17
label Game_16
    goto Game_12
label Game_13
    push constant 0
    return