function ObstacleTexture.PrintObstacle 0
    push argument 1
    push constant 0
    eq
    not
    if-goto ObstacleTexture_1
    push argument 0
    call ObstacleTexture.PrintVariant0 1
    pop temp 0
    goto ObstacleTexture_0
label ObstacleTexture_1
label ObstacleTexture_0
    push argument 1
    push constant 1
    eq
    not
    if-goto ObstacleTexture_3
    push argument 0
    call ObstacleTexture.PrintVariant1 1
    pop temp 0
    goto ObstacleTexture_2
label ObstacleTexture_3
label ObstacleTexture_2
    push argument 1
    push constant 2
    eq
    not
    if-goto ObstacleTexture_5
    push argument 0
    call ObstacleTexture.PrintVariant2 1
    pop temp 0
    goto ObstacleTexture_4
label ObstacleTexture_5
label ObstacleTexture_4
    push constant 0
    return
function ObstacleTexture.PrintVariant0 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 1024
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 1024
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 256
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 64
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 16
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 2048
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 256
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 32
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 4
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 7
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 31
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 63
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 31
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 127
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 511
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 2047
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 127
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 1023
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 8191
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 32767
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 7
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function ObstacleTexture.PrintVariant1 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 128
    add
    push constant 992
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 1008
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 200
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 7398
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 14235
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 32761
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 12555
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 13226
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 42
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 2123
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 809
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 30378
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 28078
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 13473
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 30880
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 29152
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 448
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    push constant 192
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 33
    add
    push constant 160
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 65
    add
    push constant 504
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 97
    add
    push constant 1556
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 129
    add
    push constant 2354
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 161
    add
    push constant 4133
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 14360
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 10240
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 8141
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 45
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 23
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 35
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 32
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 78
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 178
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 834
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 1925
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 1799
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 14
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 319
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 351
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 383
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 415
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 447
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 479
    add
    push constant 16384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 511
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 543
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function ObstacleTexture.PrintVariant2 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 64
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 64
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 132
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 900
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 16328
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 912
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 26112
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 29664
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 16384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 16384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 16384
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 512
    add
    push constant 25087
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 544
    add
    push constant 16131
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 576
    add
    push constant 2
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 608
    add
    push constant 2
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 640
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 672
    add
    push constant 1985
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 704
    add
    push constant 911
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 736
    add
    push constant 32743
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 768
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 800
    add
    push constant 1
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 832
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 864
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 896
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 928
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 960
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 193
    add
    push constant 3
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 225
    add
    push constant 252
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 257
    add
    push constant 194
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 513
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 545
    add
    push constant 16
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 577
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 609
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 641
    add
    push constant 8
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 673
    add
    push constant 120
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 705
    add
    push constant 252
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 737
    add
    push constant 199
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 769
    add
    push constant 96
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 801
    add
    push constant 48
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 833
    add
    push constant 24
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 865
    add
    push constant 14
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 897
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 929
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 961
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 511
    add
    push constant 32767
    not
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 543
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 575
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 607
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 639
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 671
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 703
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 735
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 767
    add
    push constant 8192
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 799
    add
    push constant 4096
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 831
    add
    push constant 6144
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 863
    add
    push constant 7168
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 895
    add
    push constant 3584
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 927
    add
    push constant 1024
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 959
    add
    push constant 512
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function ObstacleTexture.EraseObstacle 3
    push constant 16384
    push argument 0
    add
    pop local 2
    push constant 0
    pop local 0
    push argument 1
    push constant 0
    eq
    not
    if-goto ObstacleTexture_7
    push constant 27
    pop local 1
    goto ObstacleTexture_6
label ObstacleTexture_7
label ObstacleTexture_6
    push argument 1
    push constant 1
    eq
    not
    if-goto ObstacleTexture_9
    push constant 21
    pop local 1
    goto ObstacleTexture_8
label ObstacleTexture_9
label ObstacleTexture_8
    push argument 1
    push constant 2
    eq
    not
    if-goto ObstacleTexture_11
    push constant 31
    pop local 1
    goto ObstacleTexture_10
label ObstacleTexture_11
label ObstacleTexture_10
label ObstacleTexture_12
    push local 0
    push local 1
    lt
    not
    if-goto ObstacleTexture_13
    push local 2
    push constant 32
    push local 0
    call Math.multiply 2
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 2
    push constant 32
    push local 0
    call Math.multiply 2
    add
    push constant 1
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    push argument 1
    push constant 0
    gt
    not
    if-goto ObstacleTexture_15
    push local 2
    push constant 32
    push local 0
    call Math.multiply 2
    add
    push constant 1
    sub
    push constant 0
    call Memory.poke 2
    pop temp 0
    goto ObstacleTexture_14
label ObstacleTexture_15
label ObstacleTexture_14
    goto ObstacleTexture_12
label ObstacleTexture_13
    push constant 0
    return