function Obstacle.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push pointer 0
    return
function Obstacle.PrintThisObstacle 0
    push argument 0
    pop pointer 0
    push this 1
    call ObstacleTexture.PrintObstacle 1
    pop temp 0
    push constant 0
    return
function Obstacle.ChangePossitionForTickTime 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 0
    push constant 8
    call Possition.VectorChangePossition 3
    pop temp 0
    push constant 0
    return
function Obstacle.GetCurrentPossition 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Obstacle.GetType 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Obstacle.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return